.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height:50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-dark-1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; //flex-grow flex-shrink flex-basis(specify the width of the flex-box)
}

.hotel-view {
    background-color: #fff;
    flex:1 //this make the make take all the available space of the width
}